<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="https://www.gl-assessment.co.uk/Assets/images/gl_assessment_logo_large.jpg" height="28" alt="CoolBrand">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Assessments</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">By Sector</a>
                            <a href="#" class="dropdown-item">By Theme</a>
                            <a href="#" class="dropdown-item">By Category</a>
                        </div>
                    </div>
                    <a href="#" class="nav-item nav-link">Case Studies</a>
                    <a href="#" class="nav-item nav-link">News</a>
                    <a href="#" class="nav-item nav-link">Events</a>
                    <a href="#" class="nav-item nav-link">About Us</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </div>
    </nav>
</div>