  <footer class="footer flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container page-footer">
       <nav class="links-container row">
          <div class="col">
             <div class="links-container__list">
                <h4 class="links-container__heading">Quick Links</h4>
                <ul>
                   <li><a href="/contact-us/">Contact Us</a></li>
                   <li><a href="/press-office/">Press Office</a></li>
                   <li><a href="/policies/how-to-order/">How to order</a></li>
                </ul>
             </div>
          </div>
          <div class="col">
             <div class="links-container__list">
                <h4 class="links-container__heading">About us</h4>
                <ul>
                   <li><a href="/about-us/">Our story</a></li>
                   <li><a href="/about-us/partner-schools/">Partner Schools</a></li>
                   <li><a href="/about-us/partner-organisations/">Partner Organisations</a></li>
                   <li><a href="/information/new-assessment-trials/">New assessment trials</a></li>
                   <li><a href="/careers/">Careers</a></li>
                   <li><a href="/go/sustainability/">Sustainability</a></li>
                </ul>
             </div>
          </div>
          <div class="col">
             <div class="links-container__list">
                <h4 class="links-container__heading">Policies</h4>
                <ul>
                   <li><a href="/policies/business-assurance/">Business Assurance</a></li>
                   <li><a href="/policies/privacy-policy/">Privacy Policy</a></li>
                   <li><a href="/policies/terms-and-conditions/">Terms and Conditions</a></li>
                   <li><a href="/policies/permissions/">Permissions</a></li>
                   <li><a href="/policies/the-gl-education-group-data-policy/">Data Privacy Notice</a></li>
                   <li><a href="/policies/gl-education-modern-slavery-statement/">Modern Slavery Statement</a></li>
                </ul>
             </div>
          </div>
          <div class="col">
             <div class="links-container__list">
                <h4 class="links-container__heading">Social Links</h4>
                <ul>
                   <li><a href="https://twitter.com/GL_Assessment"><i aria-hidden="true" class="fab fa-twitter"></i>
                      Twitter
                      </a>
                   </li>
                   <li><a href="https://www.linkedin.com/company/gl-assessment"><i aria-hidden="true" class="fab fa-linkedin"></i>
                      LinkedIn
                      </a>
                   </li>
                   <li><a href="https://www.youtube.com/channel/UCgie0lGsSHvhGeP0fmI0oLQ"><i aria-hidden="true" class="fab fa-youtube"></i>
                      YouTube
                      </a>
                   </li>
                </ul>
             </div>
          </div>
       </nav>
       <div class="row">
          <div class="col-12">
             <h4>GL Assessment</h4>
             <div class="page-footer__line"><span class="page-footer__line-section">
                A Renaissance company | 1st Floor, Vantage London, Great West Road, Brentford, TW8 9AG | Telephone: 0330 123 5375 | Email: info@gl-assessment.co.uk
                </span>
             </div>
             <div class="page-footer__line"><span>Copyright © 2017-2023 GL Assessment, All rights reserved</span></div>
          </div>
       </div>
    </div>
 </footer>