<app-header></app-header>
<div class="d-flex flex-column h-100">
  <div class="container py-4">
    <div class="row">
        <div class="col-lg-12">
            <h1>Simple Calculator</h1>
            <div class="row d-flex justify-content-center">
              <div class="col-md-2 col-xs-6 previous">
                <button class="add-btn" (click)="open(mymodal, 'Add')">Add</button>
              </div>
              <div class="col-md-2 col-xs-6 next">
                <button class="add-btn" (click)="open(mymodal, 'Subtract')">Subtract</button>
              </div>
            </div>
            
            
            <ng-template #mymodal let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{modalPopupTitle}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                <div class="modal-body">                  
                    <div class="form-group">
                      <label>Start</label>
                      <input 
                        type="number"
                        (keypress)="keyPress($event)"
                        formControlName="start" 
                        [ngClass]="{ 'is-invalid': submitted && f['start'].errors }"
                        type="text" 
                        class="form-control" 
                        id="startInput" 
                        aria-describedby="startHelp" 
                        placeholder="Enter Start"/>
                        <div *ngIf="submitted && f['start'].errors" class="invalid-feedback">
                          <div *ngIf="f['start'].errors['required']">Start is required</div>
                        </div>            
                    </div>
                    <div class="form-group">
                      <label>Amount</label>
                      <input 
                        type="number"
                        (keypress)="keyPress($event)"
                        formControlName="amount"
                        [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
                        type="text" 
                        class="form-control" 
                        id="amountInput" 
                        placeholder="Enter Amount">
                        <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
                          <div *ngIf="f['amount'].errors['required']">Amount is required</div>
                        </div>
                    </div>       
                    <div class="form-group">
                      <label>{{result}}</label>
                    </div>             
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-dark">{{modalPopupTitle}}</button>
                </div>
              </form>
            </ng-template>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
